<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    
    <h1>Radio</h1>
    <div class="grid">
        <img src="./img/radio-frente.png" alt="radio de frente" width="350" height="264">
    </div>
    <div class="grid">
        <div class="section bg_blue">
            <a href="\twitter">Noticias</a>
        </div>
        <div class="section bg_green">
            <a href="\spotify">
                Música
            </a>
        </div>
    </div>

<%- include('includes/end.ejs') %>