.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #6b3c90;
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: red;
}

.title {
  display: block;
  margin: auto;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}


.info{
  color:rgb(158, 158, 158);
  font-size: 0.6em;
}

.info i{
  font-size: 1em;
}